{% extends 'base.html.twig' %}

{% block body %}
    <div class="widget">

        <div class="left-panel panel">
            <div class="date">
                {{ date.format('l d F Y') }}
            </div>
            <div class="city">
                {{ weather.city }}
            </div>
            <div class="temp">
                <img src="http://openweathermap.org/img/wn/{{ weather.type }}@2x.png" width="60px" style="transform: scale(2)">
                {{ weather.temp|number_format }}&deg;
            </div>
        </div>
        <div class="right-panel panel">
            <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        *
        {
            margin: 0;
            padding: 0;
            outline: none;
        }

        body
        {
            font-family: 'Roboto', sans-serif;
            overflow: hidden;
            background: #d22222;;
        }

        div.widget
        {
            position: relative;
            width: 355px;
            height: 125px;
            margin: 150px auto;
            background-color: #fcfdfd;
            border-radius: 9px;
            padding: 25px;
            padding-right: 30px;
            box-shadow: 0px 31px 35px -26px #080c21;
        }

        div.left-panel
        {

        }

        div.date
        {
            font-size: 14px;
            font-weight: bold;
            color: rgba(0,0,0,0.5);
        }

        div.city
        {
            font-size: 21px;
            font-weight: bold;
            text-transform: uppercase;
            padding-top: 5px;
            color: rgba(0,0,0,0.7);
        }

        div.temp
        {
            font-size: 81px;
            color: rgba(0,0,0,0.9);
            font-weight: 100;
        }

        div.panel
        {
            display: inline-block;
        }

        div.right-panel
        {
            position: absolute;
            float: right;
            top: 0;
            margin-top: 35px;
            padding-left: 10px;
        }
    </style>
{% endblock %}